@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html, body {
    scroll-behavior: smooth;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

#header {
    position: absolute;
    z-index: 2;
}

.header-content {
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.project-title,
.nav-list_link {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 16px;
}

.project-title {
    font-size: 20px;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
}
.nav-list_link {
    font-size: 14px;
    margin: auto 10px;
}

#section-1 {
    width: 100%;
    height: 822px;
    background-image: url("../images/sect-1-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.glowing-orb {
    position: absolute;
    z-index: 1;
    height: 65px;
    width: 62px;
    opacity: 1;
    animation: glow 3s forwards infinite 0.5s;
}
.glowing-orb:nth-child(1) {
    right: 15px;
    top: 75px;
}
.glowing-orb:nth-child(2) {
    right: 378px;
    top: 188px;
}
.glowing-orb:nth-child(3) {
    right: 247px;
    top: 570px;
}

#section-2 {
    width: 100%;
    background-color: #eee;
}

#section-3 {
    width: 100%;
    height: 650px;
    background-image: url("../images/sect-3-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#footer {
    background-color: #464547;
}

#section-1 .section-content {
    padding: 250px;
}

#section-2 .section-content,
#section-3 .section-content {
    padding: 100px;
}

.footer-content {
    padding: 20px 35px;
}

.section-content,
.section-title,
.global-title,
.section-subtitle,
.section-description,
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-title,
.section-subtitle,
.section-description,
.logo,
.btn,
.play-btn{
    margin: 15px auto;
}

.section-title,
.global-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}

.section-desc_container {
    display: flex;
    justify-content: space-around;
}
.section-desc_container .section-description {
    width: 50%;
    text-align: left;
    margin: 0 10px;
}

.global-title,
#section-3 .section-title {
    color: #fff;
}

#section-2 .section-title {
    color: #464547;
}

.section-subtitle {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    line-height: 32px;
}

#section-1 .section-subtitle {
    color: rgba(255, 255, 255, 0.7);
}

#section-2 .section-subtitle {
    color: #666;
}

#section-3 .section-subtitle {
    color: #fff;
}

.section-description {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 22px;
}

.btn {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    background-color: #55C2D8;
    border-color: transparent;
    border-radius: 18px;
    padding: 4px 20px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.btn:hover {
    transform: rotate(20deg);
}

.play-btn {
    background-color: #39C2D7;
    color: #fff;
    font-size: 56px;
    border-color: transparent;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.play-btn:hover {
    background-color: #fff;
    color: #39C2D7;
    transform: scale(0.9);
}

.logo {
    margin: auto;
    transition: all 0.5s linear;
}
#section-1 .logo:hover {
    transform: rotateY(180deg) scale(1.5);
}
.global-title {
    margin-top: 20px;
}

.footer-title {
    width: 200px;
    display: flex;
}

.footer-title p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #fff;
    margin: auto;
}

.footer-title,
.contact-address,
.copyright {
    margin: 5px 0;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact,
.copyright {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    align-self: flex-end;
}

.contact {
    display: flex;
    flex-direction: column;
}

@keyframes glow {
    to {
        opacity: 0;
        fill: #fff;
    }
}

@media (max-width: 768px) {
    #header,
    .container,
    .header-content,
    .header-nav,
    .project-title,
    .menu-icon {
        width: 100%;
    }
    #section-1 {
        height: unset;
    }
    .nav-list {
        display: none;
    }
    .menu-icon {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .menu-icon div{
        width: 22px;
        height:3px;
        background-color: #fff;
        margin: 3px auto;
        align-self: right;
    }
    .global-title {
        width: 386px;
    }
    #section-1 .section-subtitle {
        width: 425px;
        margin: 15px;
    }
    .glowing-orb {
        width: 60px;
        height: 50px;
    }
    .glowing-orb:nth-child(1) {
        display: none;
    }
    .glowing-orb:nth-child(2) {
        right: 68px;
        top: 225px;
    }
    .glowing-orb:nth-child(3) {
        right: -36px;
        top: 531px;
        overflow: hidden;
    }
    #section-2 .section-title {
        width: 75%;
    }
    .section-desc_container {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .section-desc_container .section-description {
        width: 100%;
        margin: 10px 0;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .contact,
    .copyright {
        align-self: center;
        margin: 10px auto;
    }
    .btn:hover,
    #section-1 .logo:hover {
        transform: unset;
    }
}